.fa-times-circle
{
  margin-left: 62%;
font-size: 30px;

}
.notification-container {
  position: relative;
  display: inline-block;
  margin-left: 67%;

}

.notification-button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: 24px;
}

.icon {
  font-size: 24px;
}


.notification-popup {
  position:absolute;
 overflow-y: scroll;
  top: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 250px;
  z-index: 0;
  margin-left: 60%;
}

.notification-popup h4 {
  margin: 0;
  padding: 5px;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.notification-popup ul {
  list-style: none;

 

}

.notification-popup ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-popup ul li:last-child {
  border-bottom: none;
}

.navbar {
    background: rgb(16, 16, 15);
    font-family: Calibri;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  
  li {
    margin-right: 25px;
  }
  
    li a {
      color: rgb(28, 9, 9);
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
    }
  
  .user-info {
display:flex;
margin-right: 4%;
  }
  
  .username {
    color: white;
    font-weight: bold;
    margin-right: 10px;
  
  }
  .badge {
    position: absolute;
    top:0;
    font-size: 14px;
    border-radius: 50%;
    width: 14px;
    height: 20px;
    margin-left:8px;
    background-color: #fe0606; 
    color:white;
    text-align: center;
    margin-top: 3px;
  }

 .red
 {
  background: rgb(21, 29, 18);
  color: white;
  height: 30px;
  width: 30px;
 margin-right:20%;
 } 
   
   button {
    background-color: rgb(47, 167, 69);
    border: none;
    border-radius: 10px;
    padding: 10px;
  }
  
    button a {
      color: white;
      font-weight: bold;
      font-size: 15px;
      text-decoration: none;
    }
  