<div class="navbar" id="landingpageHeader" *ngIf="!MainHeaderVisible">
    <div class="navdiv">
 
      <ul>
        <ng-container >
          <li style="margin-left: 4%;"><img src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-vector-location-icon-png-image_4280104.jpg" alt="Image" class="image" style="width:40px;height: 40px;"></li>
        </ng-container>
      </ul>


    </div>
   
 
  </div>

  <div class="navbar" id="MainHeader" *ngIf="MainHeaderVisible">
    <div class="navdiv">
 
      <ul>
        <ng-container >
          <li style="margin-left: 4%;"><img src="https://png.pngtree.com/png-clipart/20190517/original/pngtree-vector-location-icon-png-image_4280104.jpg" alt="Image" class="image" style="width:40px;height: 40px;"></li>

          <li style="margin-left: 10%;text-wrap: nowrap;"><a [routerLink]="['/BusinessRegistration']" style="color: white;"><b>Business Registration</b></a></li>
          <li style="margin-left: 10%;"><a [routerLink]="['/MyCatalouge']" style="color: white;">Catalouges</a></li>
        </ng-container>
      </ul>

    </div>
    <div class="user-info">
      
      <h5 style="margin-top: 6%;" style="color: white;margin-top: 10px;"><b> {{ user }}</b></h5>
      <button class="red" mat-icon-button (click)="clearCount()">
        <mat-icon class="icon" (click)="toggleNotificationPopup()">notifications</mat-icon>
        <span class="badge" *ngIf="notificationCount > 0" >{{ notificationCount }}</span>
      </button>
      <div>
        <button><a href="#" (click)="Logout()" >Logout</a></button>
      </div>
    </div>
 
  </div>

  <div>
    <div class="notification-container" *ngIf="notificationspopup">
      <div class="notification-popup">
        <h4 > Notifications  <i class="fas fa-times-circle" (click)="notificationclose()"> </i></h4>  
        <ul>
          <li *ngFor="let notification of notifications"><b>{{ notification }}</b> You Have Logged in Successfully !.</li><br>
        </ul>
      </div>
      </div>
  </div>

