
 <h1 style="text-align: center;">Promotion Insights</h1>
<div *ngFor="let image of images">
  <img *ngIf="image" [src]="image">
</div>
<br>
<br>
<div style="margin-left: 35%;">
  <h4>Overview<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-information-outline-64.png" class="RiderOverview"></h4>
</div>
<div style="text-align: center;">
    <pre>People Received this Scratch Card                 0</pre>
    <pre>People seen the offer                             0</pre>
    <pre>People Clicked on the button                      0</pre>
    <pre>People Copied your discount code                  0</pre>
</div><br>
<div style="margin-left: 35%;">
  <h4>Rider<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-information-outline-64.png" class="RiderOverview"></h4>
</div>
<div style="text-align: center;" >
  <textarea rows="7" cols="50">Bar Charts</textarea>
</div>
<br>
<div style="text-align: center;">
    <p>Are you satisfied with the results on this promotion</p>
    <div>
        <input type="button" class="btn btn-primary" value="Yes">
        <input type="button" class="btn btn-primary" value="Not Sure" style="margin-left: 3%;">
        <input type="button" class="btn btn-primary" value="NO" style="margin-left: 3%;">
    </div>
</div>
<br>
<div style="text-align: center;">
    <p [routerLink]="['/MyCatalouge']" style="color:rgb(55, 157, 212);"><b>Promote Again ?</b></p><br>
    <p (click)="togglePopup1()" style="color:rgb(55, 157, 212);"><b>Delete Promotion</b></p>
</div>
<div class="popup1" *ngIf="discount1">
  <div class="popup-content1">
    <div class="modal-header1">
      <h2>Delete Product</h2>
      <p>This will be Delete Product Permanently</p>
    </div>
    <div >
      <button (click)="Scratchcard1()" class="btn btn-primary m-3" class="add" >Cancle</button><button style="margin-left:3%;" (click)="Scratchcard1()" class="btn btn-primary m-3" class="add">Delete</button>
    </div> 
  </div>  
</div>