
  <form [formGroup]="gstnumber" [hidden]="!showpopup">
  <div class="popup">
    <div class="popup-content">
        <div class="modal-header">
            <div style="display: flex;">
                 
                <h1 >GST Details</h1>
              </div>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div><br>
      <div>
      <input type="text" class="form-control" placeholder="GST Number" formControlName="gst"><br><br>
      <div class="form-text text-muted" *ngIf="gstnumber.controls['gst'].touched && gstnumber.controls['gst'].errors?.['required']">
      Please Enter  Gst-Number.
     </div>
      <input type="file" class="form-control" placeholder="Upload GST Document"><br>
  </div><br>
      <button (click)="closeDialog()" class="btn btn-primary m-3">CONTINUE</button>
    </div>
  </div>
  </form>