
<div class="header">
    <div class="flex">
       
            <img [src]="imagedata" style=" display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80px; 
            height: 80px; 
            border: 2px solid #ccc; 
            border-radius: 50%;
           
            cursor: pointer;">  <div class="col-sm-6">
 <h3 style="margin-top: 3%;margin-left: 8px;">{{details?.businessName}} Store</h3>
  </div>
    </div>

</div>
<!-- <div style="text-align: center;">
     <input type="button" id="button1" value="CATALOUGE" [routerLink]="['/AddItem']" class="btn btn-primary"> <b><input type="button" id="button" [routerLink]="['/MyCatalouge']" value="SCRATCH CARDS" class="btn btn-primary"></b>
</div> -->

<img class="ima" src="https://en.pimg.jp/106/876/444/1/106876444.jpg" alt="image">

<div style="text-align: center;">
    <h2>CREATE CATELOGUE</h2>
    <p>Create your Cateloge and Sell Directly to your Customers</p>

    <input type="button" id="button1" (click)="togglePopup()"  value="CREATE NOW" class="btn btn-primary">
</div>
<div class="popup1" *ngIf="discount">
    <div class="popup-content1">
      <h2>Go Online</h2>
      <div class="modal-header1">
<p>Customers Can see you when you go Online</p>  
    </div>
      <div>
        <button (click)="cancle()" class="btn btn-primary m-3" class="add" >Cancle</button><button style="margin-left:3%;" (click)="confirm()" class="btn btn-primary m-3" class="add">Confirm</button>
    </div> 
    </div> 
    <div class="popup-content1">
        <h2>Go Offline</h2>
        <div class="modal-header1">
            <p>Customers Can see you when you go Offline</p>      
          </div>
        <div>
            <button (click)="cancle()" class="btn btn-primary m-3" class="add" >Cancle</button><button style="margin-left:3%;" (click)="confirm()" class="btn btn-primary m-3" class="add">Confirm</button>

        </div> 
      </div>  
  </div>

