.popup1 { 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content1 {
    background-color: #fefefe;
    margin: 5% auto;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #888;
   width:30%;
   height: 30%
  }
  .modal-header1 {
    margin-top: 7%;
    position: relative;
  }
  #categoryNameInput{
  border:none;
  width:95%;
  margin-left: 2%;
  }
 
  .add{
    background-color:white;
    border-radius: 30px;
    width:30%;
  }
.header,.flex{
    display: flex;
    width: 96%;
}
.image{
    width:80px;
    height: 80px;
}
.bell{
    width:50px;
    height: 25px;
    margin-top: 40px;
}
.ima{
    margin-top: 5%;
    margin-left: 35%;
}
#button{
    border:solid;
    padding: 10px;
    width: 15%;
    background-color:white;
    color:lightslategray;
    border-radius: 10px;
    margin-left: 5%;
} 
.b2 {
    color: black;
}
#button1{
    padding: 10px;
    width: 15%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
 
} 
.popup { 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #888;
    width: 30%;
    height: 30%;
  }