.continue{
  margin-left: 70%;
}

.input-icons {
    width: 20%;
    padding-left: 2%;
}

.input-icons i {
    position: absolute;
}

.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    margin-top: 1%;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
}
.flex{
display:flex; 
margin-left:20%;
margin-top: 2%;
}
#butsel{
border-radius: 25px;
width:30%
}
.fav_language{
  margin-left: 10%;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.label1{
  margin-left: 30%;
margin-top: 2%;
font-weight: bold;
}
#rad{
margin-top: 3%;
}

.popup { 
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 0;
  width: 50%;
  height: auto;
  margin-left: 20%;
  margin-top: 0%;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 8px;
  border: 1px solid #888;
}
.modal-header {
  position: relative;
  padding: 0;
}
h3{
 margin-left: 30%;
 font-size: 25px;
}
 .fa-times-circle{
  font-size: 40px;
}

  .popup1 { 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 8px;
    border: 1px solid #888;
   width:25%;
   height: 25%
  }
  .modal-header1 {
    margin-top: 10%;
    position: relative;
  }
  #categoryNameInput{
 border:none;
 width:95%;
 margin-left: 2%;
  }
  #add{
    background-color: black;
    border-radius: 20px;
    width:90%;
  }

  
.categorypopup { 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.categorypopup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
 width:25%
}
.categorymodal-header {
  position: relative;
  padding: 0;
}

h3{
  font-size: 20px;
} 
h4{
  font-size:15px;
  font-weight: 400;
}
