<mat-form-field appearance="outline" class="textboxboader">
  <mat-label>Business Category *</mat-label>
	<input 
    type="text" class="textboxcenter"
    placeholder=" " 
    aria-label="number" 
    matInput 
    [formControl]="myControl" 
    [matAutocomplete]="auto" 
    (keyup.enter)="enter()">
  <mat-autocomplete 
    #auto="matAutocomplete"
    (optionSelected)="optionSelected($event.option)">
      <mat-option 
      *ngFor="let option of filteredOptions | async" 
      [value]="option" class="selectedoptiondata">
      {{option}}
    </mat-option> 
  </mat-autocomplete>
</mat-form-field>
