
.categorypopup { 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.categorypopup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #888;
 width:25%
}
.categorymodal-header {
  position: relative;
  padding: 0;
}

h3{
  font-size: 20px;
} 
h4{
  font-size:15px;
  font-weight: 400;
}
/* .popup{
  width: 300px;
  height: 220px;
 
  border-radius: 20px;
  background-color: aliceblue;
}
button{
  width:100%;
  margin-top: 15%;
  background-color: black;
  color:white;
  padding: 15px;
  border-radius: 10px;
}
  */
