.notification-popup {
  position:relative;
  overflow-y: scroll;
  top: 20px;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 250px;
  z-index: 0;
}

.notification-popup h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.notification-popup ul {
  list-style: none;

 

}

.notification-popup ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-popup ul li:last-child {
  border-bottom: none;
}
.notification-container {
  position: relative;
  display: inline-block;
  margin-left: 70%;

}