

<form style="text-align: center;">
  <img [src]="imagedata" style=" display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border: 2px solid #ccc; /* Placeholder border */
  border-radius: 50%;
  margin-top: 3%;
  cursor: pointer;margin-left: 45%;">

   <h3>{{details?.businessName}}</h3>
   <p>Your Business Account is Approved</p>

</form>
<input type="button"  (click)="Edit()"class="btn btn-primary" value="Edit"><br>

 <div class="row">
  <div class="col-sm-6">
    <label><b>Business Category  </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.categoryname"  readonly class="form-control">
  </div>
<div class="col-sm-6">
    <label><b>Business Name  </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.businessName"  readonly class="form-control">
  </div>
  <div class="col-sm-6">
    <label><b>Description </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.description"  readonly class="form-control">
  </div>
  <div class="col-sm-6">
    <label><b>Store Timings  </b></label>
  </div>
<div class="col-sm-6"  *ngIf="data1">
 <input type="text" [value]="details?.storetiming"  readonly  class="form-control" >   
 </div> 
  <div class="data" *ngIf="timetable">
    <table border>
      <tbody>
        <tr><td><b>Day</b></td><td><b>StartTime</b></td><td><b>Closetime</b></td></tr>
           <tr *ngFor="let item of storetable">   
           <td>{{ item["Day"] }}</td>
           <td>{{ item["StartTime"] }}</td>
           <td>{{ item["Closetime"] }}</td> 
           </tr>
      </tbody> 
    </table>
  </div>
  <div class="col-sm-6">
    <label><b>Email Address  </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.email"  readonly class="form-control">
  </div>
  <div class="col-sm-6">
    <label><b>Website </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.website"  readonly class="form-control">
  </div> 
  <div class="col-sm-6">
    <label><b>GST Number   </b></label>
  </div>
  <div class="col-sm-6">
 <input type="text" [value]="details?.gstNumber"  readonly class="form-control">
  </div>
  <div class="col-sm-6" id="location">
    <label><b>Business Location </b></label>
  </div>
  <div class="col-sm-6" id="location">
 <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>
  </div> 
 
 </div>
<div style="display: flex;">
  <p style="margin-left: 35%; margin-top: 3%;" >Hide from Catalouge </p>
  <label class="switch" style="margin-left: 20%;" >
      <input type="checkbox" >
      <span class="slider round"></span>
    </label>
 </div>


 <button  class="btn btn-primary"  [disabled]="clicked" (click)="save(); clicked = true;" >Save</button>
