

<div class="popup" >
    <div class="popup-content">
      <div class="modal-header">
     
            <h3>Terms of Use</h3>
            <i class="fas fa-times-circle" (click)="close()"> </i>       
      </div>
      <div>
        <p class="time">Last Update on 1/05/2024</p>
        <h4><b>1.Clause 1</b></h4>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <h4><b>2.Clause 2</b></h4>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <h4><b>3.Clause 3</b></h4>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        <p>Lorem ipsum dolor site amet, consectetur adipiscing elit. Viverra Condimentum eget purus in.consectetur eget id morbi amet amet ,in.Ipsum viverra pretium tellus neque. UIIamcorper suspendisse aenean leo pharetra in sit semper et.Amet quam placerat sem. </p>
        
   
    </div>
  </div> 
  </div>