<div *ngIf="spinner" class="spin">
    <h4 class="text-center">Please Wait Loading </h4>
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!spinner">
    <div class="contain">
        <img src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/512/phone-64.png" style="width: 8%;height: 8%;margin-left: 45%;margin-bottom: 3%;">
        <h2 style="margin-left: 35%;">Varify Mobile Number</h2>
                        <h6 style="margin-left: 35%;">OTP will be sent to your mobile number</h6>
        <div class="row d-flex align-item-center justify-content-center">
            <form [formGroup]="phoneForm" id="countryCode">
               <div >
                <intl-input-phone formControlName="sampleReactiveControl" [ConfigurationOption]="configOption1" [CountryList]="customCountryList1"></intl-input-phone>
              
              <br>      
              <button class="btn btn-primary" id="sign-in-button" (click)="GetOtp()">Get OTP</button>
            </div>
            </form>
        </div>
    </div> 
    <div [hidden]="!verify" class="phone-popup">
        <h3>We will send the OTP to <strong>{{ phoneNumber }}</strong></h3>
        <p>Is it okay, or would you like to edit the number?</p>
        <div class="button-container">
            <button  class="edit" (click)="onEdit()">Edit</button>
            <button  class="edit"  [disabled]="clicked" (click)="onConfirm(); clicked = true;">Confirm</button>
        </div>
    </div>
  </div>

