
#rad{
    margin-right: 3%;
    padding-top: 2%;
}
 .la{
    margin-right: 2%;
    margin-top: 2%;
}
.btn1{
    background-color: black;
    color: white;
    border-radius: 25px;
    width:7%
}
.choice{
    margin-left: 2.5%;
} 

.switch{
    margin-left: 3%;
    margin-top: 20px;
    position:relative;
    width:150px;
    height: 30px;
    border-radius: 25px;
}
.switch input{
    appearance: none;
    width:150px;
    height: 30px;
    border-radius: 25px;
    background:blue;
    outline: none;
}
.switch input::before,
.switch input::after{
    z-index:2;
    position: absolute;
    top:0%;
    transform: translateY(-50%);
    font-weight: bolder;
}
.switch input::before{
    content:"Open";
    left:5px;
}
.switch input::after{
    content: "Closed";
    right:5px;
}
.switch input:checked{
    background:red;
    color:white;
}
.switch label{
    z-index:1;
    position:absolute;
    top:10px;bottom:4px;
    border-radius: 20px;;
}
.switch input{
    transition: 0.25s;
}
.switch input:checkd::after,
.switch input:checked::before{
    color:black;
    transition:color 0.5s ;
}
.switch input:checked+label{
    left:3px;
    right:85px;
    top:-10px;
    background-color:white;
    transition:left 0.5s,right 0.4s 0.2s;
}
.switch input:not(:checked){
    background: green;
    transition: background 0.4s;
}
.switch input:not(:checked)::before{
    color:white;
    transition:color 0.5S;
}
.switch input:not(:checked)::after{
    color:white;
    
    transition: color 0.5s 0.2s;
}
.switch input:not(:checked)+label{
    left:85px;
    right:3px;
    top:-10px;
    background-color:white;
    transition: left 0.4s 0.2s ,right 0.5s,background 0.35s;

}
.primary{
    width:20%;
    background-color: black;
    color:white;
    border-radius: 10px;
}

.popup { 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    border-radius: 8px;
    border: 1px solid #888;
   width:60%
  }
  .modal-header {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 0;
  }
  .fa-times-circle{
    font-size: 40px;
    margin-left: 300px;
  }
  .flex{
    display: flex;
    margin-left: 40%;
  }
