<div class="row" style="margin-top:1%;">
    <div class="col-1">
        <div class="flex">
           
                <img [src]="imagedata" style=" display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 80px; 
                height: 80px; 
                border: 2px solid #ccc; 
                border-radius: 50%;
                cursor: pointer;"> 
        </div>
      </div>
      <div class="col-5">
        <h3 style="margin-top: 3%;margin-left: 8px;">{{details1?.businessName}} Store</h3>
      </div>
    <div class="col-6">
      <div *ngIf="showcatelog">
        <h4>My Catalouge</h4>
      <p>Your Catalouge will be visible to users on Go Extra Mile App</p>
      </div>
    </div>

</div>

<div *ngIf="!spinner" class="spin">
  <h4 class="text-center">Please Wait Loading </h4>
  <app-spinner></app-spinner>
</div>

<div *ngIf="spinner">
<div class="hide" *ngIf="showImage"  >
<img class="ima" src="https://en.pimg.jp/106/876/444/1/106876444.jpg" alt="image" style="width: 250px;height: 250px;text-align: center;margin-right: 100px;">
<div style="text-align: center;" >
  <h2>CREATE CATALOGUE</h2>
  <p>Create your Cateloge and Sell Directly to your Customers</p>
  <input type="button" id="button1" style="margin-bottom: 10%;" (click)="togglePopup()"  value="CREATE NOW" class="btn btn-primary">
</div>



<br>

  
<div class="popup1" *ngIf="online">
  <div class="popup-content1">
    <h2>Go Online</h2>
    <div class="modal-header1">
<p>Customers Can see you when you go Online</p>  
  </div>
    <div>
      <button (click)="cancle()" class="btn btn-primary m-3" class="add" >Cancle</button><button style="margin-left:3%;" (click)="confirm()" class="btn btn-primary m-3" class="add">Confirm</button>
  </div> 
  </div> 
  <div class="popup-content1">
      <h2>Go Offline</h2>
      <div class="modal-header1">
          <p>Customers Can see you when you go Offline</p>      
        </div>
      <div>
          <button (click)="cancle()" class="btn btn-primary m-3" class="add" >Cancle</button><button style="margin-left:3%;" (click)="confirm()" class="btn btn-primary m-3" class="add">Confirm</button>

      </div> 
    </div>  
</div>
</div>
<div class="show1" *ngIf="showcatelog">

<ul class="tabs">
  <li>
    <input type="radio"  [checked]="!Ischecked" name="tabs" id="tab1">
    <label for="tab1" style="color: black;"> <img class="img1" src="https://cdn1.iconfinder.com/data/icons/computer-hardware-hand-drawn-vol-1/52/network__satellite__web__connection__internet__social__media-512.png" style="width: 40px;height: 40px;    transform: rotate(180deg);">My Catalouge</label>
    <div id="tab-content1" class="tab-content animated fadeIn">
    
     
        <a>
          <div class="row" style="margin-left: 15%;margin-top: 5%;">
            <div class="col-4" *ngFor="let image of Images" >
              <div *ngIf="image.isVerifed == true">
                <img [src]="image.images.url"  [attr.data-imagename]="image.key" alt="Catalog Image" (click)="ImageData($event)" class="img">
                <span class="icon" ><img src="assets/Images/greentick.png"  id="info"></span>
              </div>
              <div *ngIf="image.isVerifed == false">
                <img [src]="image.images.url"  [attr.data-imagename]="image.key" alt="Catalog Image" (click)="ImageData($event)" class="img">
                <span class="icon" ><img src="assets/Images/circle.png"  id="info"></span>
              </div>
              <!-- <div *ngIf="image.isApproved == 'scratchcard'">
                <img [src]="image.images.url"  [attr.data-imagename]="image.key" alt="Catalog Image" (click)="ImageData($event)" class="img">
                <span class="icon" ><img src="assets/Images/time.png"  id="info"></span>     
              </div>
              <div *ngIf="image.isApproved == 'hideproduct'">
                <img [src]="image.images.url"  id="textBox" [attr.data-imagename]="image.key" alt="Catalog Image" [ngClass]="{ 'unblurred': isUnblurred }" (click)="ImageData($event)">
                <span class="eye-icon" *ngIf="!isUnblurred"  (click)="toggleBlur()">
                    <img src="assets/Images/eyepng.png"  id="eyeicon">
                </span>  
              </div> -->
            </div>
          </div>
        </a>
       
 

  <button class="button2" (click)="GotoAddItem()"><img src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/More-64.png" ><br> Add Items </button>

    </div>
  </li>
  <li>
    <input type="radio"  [checked]="Ischecked" name="tabs" id="tab2" style="margin-left: 3%;" >
    <label for="tab2" style="color: black;height: 15%" ><img class="img1"  src="https://cdn3.iconfinder.com/data/icons/knowledge-management-glyph-2/64/distinguish-geometry-differentiate-discriminate-shape-polygon-64.png" style="width: 40px;height: 40px;" >Scratch Cards</label>
    <div id="tab-content2" class="tab-content animated fadeIn">
   <!-- This Tab can be Added Scratch cards <br><br> -->
   <a>
    <div class="row" style="margin-left: 15%;margin-top: 5%;">
    <div class="col-4" *ngFor="let image of Images" >
      <div *ngIf="image.status == 'Approved'">
      <img [src]="image.images.url" alt="Catalog Image" [attr.data-imagekey]="image.key" (click)="ScractchcardImage($event)" class="img">
      <span class="icon" ><img src="assets/Images/time.png"  id="info"></span>
    </div>
    </div>
  </div>
  </a>
    </div>
  </li>
</ul>
<div class="tabbed-interface" style="display: flex;margin-left: 30%;" class="col-sm-8">

</div>
</div>

