.data
{
    text-align: center;
}
.page
{
    margin-left: 650px;
    height: 300px;
    width: 300px;
    
}
.register
{
    height: 40px;
     width: 250px;
     text-align: center;
     margin-left: 650px;
     background-color: darkgreen;
     color: white;
}