
<h2 class="data">Go Extra Mile Business</h2>
<br>
<img class="page" src="https://static.vecteezy.com/system/resources/previews/027/396/061/original/collaboration-men-persons-discuss-about-real-estate-project-ai-generated-png.png">
<h3 class="data">Business Registration</h3>
<p class="data">Complete Your Business Registration to create your Catalouge ,Scratch Cards and Unlock More Features.</p>
<br>
<input type="button" (click)="nexttab()" class="btn btn-primary" class="register" value="Complete Registration">
  