
<h2 class="data">Go Extra Miles Business</h2>
<br>
<img class="page" src="https://static.vecteezy.com/system/resources/previews/027/396/061/original/collaboration-men-persons-discuss-about-real-estate-project-ai-generated-png.png">

<h3 class="data">Business Registration</h3>
<p class="data">Complte Your Business registration to crerate your catalouge ,scratch cards and unlock more features.</p>
<br>
<input type="button" [routerLink]="['/CreateBusinessAccount']" class="btn btn-primary" class="register" value="Complete Registration">
