agm-map {
    height: 400px;
    margin-top: 0px;
  }
  label{
    font-weight: bold;
  }
  .form-group{
    margin-top: 2%;
    margin-bottom: 0px;

  }
  #search{
    width:20%;
    border: none;
    margin: 0;
  }