agm-map {
    height: 350px;
    margin-top: 0px;
  }
  label{
    font-weight: bold;
  }
  .form-group{
    margin-top: 2%;
    margin-bottom: 0px;

  }
  #search{
    width:20%;
    border: 1px solid rgba(0, 0, 0, 0.288);
    margin: 0;
  }