
<div class="row">
    <div class="form-group">
      <label>Search Location :</label>
     <input type="text" id="search" placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" #search>
      <!-- <b>Search Location:</b><input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #search> -->
    </div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
  </div>