<h2 style="text-align: center;">Create Business Account</h2>
<form [formGroup]="Createbusiness" (ngSubmit)="onFormSubmit()">
<div class="avatar-container" style="margin-left: 45%;" #productsElement id="products" >
  <label for="avatarInput">
    <img *ngIf="imagedata" [src]="imagedata" class="avatar-preview" alt="Avatar Preview">
    <div *ngIf="!imagedata" class="avatar-placeholder" [style.border]="brand ? '2px dashed red' : '2px dashed #ccc'">
      <i class="fas fa-user"></i> <!-- Placeholder icon -->
      <span><b>Brand Logo</b></span>
    </div>
  </label>
  <input type="file" id="avatarInput" accept="image/*"  (change)="onFileSelected($event)">
</div>
<p  [style.color]="brand ? 'red' : 'white'" style="margin-left: 45%;">Tap hear to select Your Brand-logo</p>
<div class="col-12">
  <div class="row">
    <div class="col-6">
      <div class="text-field w100p">
  <app-select-business-category  
    formControlName="categoryname" 
    [options]="options" [dropdownselected]="dropdownselected"
    (added)="onItemAdded($event)" (businessvalue) ="selectedname($event)">
  </app-select-business-category>
      </div>
    </div>
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text"   formControlName="businessName" placeholder="" >
        <span>Business Name  *</span>
      </div>
      <div class="form-text text-muted"
      *ngIf="Createbusiness.controls['businessName'].touched && Createbusiness.controls['businessName'].errors?.['required']">
      Please Enter  BusinessName.
     </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text"   formControlName="description" placeholder="" >
        <span>Description of the Business  *</span>
      </div>
      <div class="form-text text-muted"
      *ngIf="Createbusiness.controls['description'].touched && Createbusiness.controls['description'].errors?.['required']">
      Please Enter  Description.
     </div>
    </div>
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text" (click)="storetime()"  formControlName="storetiming"  placeholder="" >
        <span>Add Store Timings    *</span>
      </div>
    </div>
  </div>
  <div [hidden]="!showtimes">
    <app-store-timings [formdata]="datatime" (timedata)="GetChilddata($event)"></app-store-timings>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text" formControlName="email"  placeholder="" >
        <span>Email   *</span>
      </div>
      <div class="form-text text-muted"
      *ngIf="Createbusiness.controls['email'].touched && Createbusiness.controls['email'].errors?.['required']">
      Please Enter  Email.
     </div>
     <div class="form-text text-muted"
      *ngIf="Createbusiness.controls['email'].touched && Createbusiness.controls['email'].errors?.['email']">
      Email not well formed
     </div>
    </div>
    
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text" formControlName="website"  placeholder="" >
        <span>Website  *</span>
      </div>
  <div class="form-text text-muted"
    *ngIf="Createbusiness.controls['website'].touched && Createbusiness.controls['website'].errors">
    <div *ngIf="Createbusiness.controls['website'].errors?.['required']">Please Enter Website Link.</div>
    <div *ngIf="Createbusiness.controls['website'].errors?.['pattern']">Please enter a valid website link.</div>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="text-field w100p">
        <input class="text-base w100p" type="text" formControlName="gstNumber" (click)="gst()" placeholder="" >
        <span>GstNumber  *</span>
      </div>
    </div>
  </div>  
</div>
<div class="googlemap">
  <app-google-map   [locationdetails]="businesslocation"  (Searchdata)="Location($event)"></app-google-map>
</div>
<div class="second">
<div class="who">
  <label class="form-label"><b>Are You the owner/manager of this Business*</b></label>
 <div>
     <input type="radio" class="radiobutton" formControlName="isOwner" value="Owner"> I'm the Business Owner <br>
     <input type="radio" formControlName="isOwner" value="Manager" > I'm the Incharge/Manager <br>
     <input type="radio" formControlName="isOwner" value="Employee" > I'm the Employee <br>
 </div>
   <div class="text">
    <div class="text-field w100p">
      <input class="text-base w100p" type="text" formControlName="username"  placeholder="" >
      <span>Name *</span>
    </div>
    <div class="form-text text-muted" 
    *ngIf="Createbusiness.controls['username'].touched && Createbusiness.controls['username'].errors?.['required']">
    Please Enter  YourName.
   </div>
    <div class="text-field w100p">
      <input class="text-base w100p" type="text" formControlName="mobileNumber" (keypress)="OnlyNubersAllowed($event)" minlength="10" maxlength="10" placeholder="" >
      <span>Mobile Number *</span>
    </div>
    <div class="form-text text-muted"
    *ngIf="Createbusiness.controls['mobileNumber'].touched && Createbusiness.controls['mobileNumber'].errors?.['required']" >
 Please Enter  MobileNumber.
 <div *ngIf="Createbusiness.errors?.['minlength']" style="color: red;">Phone number cannot exceed 10 digits.</div>
</div>
</div>
  <input type="checkbox" style="margin: 5px;" formControlName="termsAndConditions"> I accept the  <b (click)="condition()" class="term">Terms and Conditions</b> as well as <b (click)="condition()" class="term">Privacy Policy.</b> 
</div>
<div  *ngIf="!buttons">
<button type="submit" [disabled]="!Createbusiness.valid" class="btn btn-primary m-3" [disabled]="Clicked" id="SubmitUpdate">Submit</button>
</div>
<div *ngIf="buttons">
<button type="submit" [disabled]="!Createbusiness.valid" class="btn btn-primary m-3" id="SubmitUpdate">Update</button>
</div>
</div>
</form>
 <div [hidden]="!Terms">
    <app-terms (terms)="Conditions($event)"></app-terms>
 </div>



<div class="popup" [hidden]="!showGstPopup">
  <div class="popup-content">
    <div class="modal-header">
        <h3>GST Details</h3>
      <i class="fas fa-times-circle" (click)="close()"> </i>
    </div>
    <div>
      <div class="text-field w100p">
        <input class="text-base w100p" type="text" [(ngModel)]="GSTNumber"  placeholder="" >
        <span>GST Number *</span>
      </div>
      <div class="file-container" *ngIf="!file" >
       <i class="fas fa-cloud-upload-alt upload-icon" id="uploadicon"></i> 
        <div class="upload-text">Select a file</div>
        <p id="browse">Browse</p>
        <input #fileInput type="file" (change)="getFile($event)"  class="file"/> 
      </div> 
      <div *ngIf="file" class="file-info">
        File name: {{file.name}} <br/>
        <button (click)="clearFile()">Clear file</button>
      </div>
  </div>  
   <a [href]="gstfile" target="_blank">{{gstfilename}}</a>    
  <button (click)="closeDialog()" class="btn btn-primary m-3">CONTINUE</button>
 </div> 

