
<h1 style="text-align: center;">Scratch Card Insights</h1>

<div *ngFor="let image of images">
  <img *ngIf="image" [src]="image" class="image" >
</div>
<div style="text-align: center;">
  <p>Created On {{toDate | date:'medium'}}</p>
  <p >Discount Code :{{ label }}</p>
</div>
<div style="margin-left: 35%;">
  <h4>Overview<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-information-outline-64.png" class="RiderOverview" ></h4>
</div>
<div style="text-align: center;">
    <pre>People Received this Scratch Card                 0</pre>
    <pre>People seen the offer                             0</pre>
    <pre>People Clicked on the button                      0</pre>
    <pre>People Copied your discount code                  0</pre>
</div><br>
<div style="margin-left: 35%;">
  <h4>Rider<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-information-outline-64.png" class="RiderOverview"></h4>
</div>
<div style="text-align: center;" >
  <textarea rows="7" cols="50">Pie Chart</textarea>
 
</div>
<br>
<br>
<div style="text-align: center;">
  <pre><img src="https://cdn1.iconfinder.com/data/icons/material-device/20/access-time-64.png" style="width: 25px;"> This promotion is being reviewed.If it's been approved.
    App users will start receiving your Scratch card.<b><a style="color:rgb(80, 182, 222);"  class="term" (click)="popup()">
  Learn more</a></b></pre>
</div>
<div>
  <input type="button" style="margin-left: 45%;" [routerLink]="['/MyCatalouge']"  class="btn btn-primary" value="ReCreate ScratchCard"> 
</div>
<div style="text-align: center;">
  <div [hidden]="!Terms">
    <app-terms (terms)="Conditions($event)"></app-terms>
   </div>
 </div>